[Unit]
Description=Raspberry Pi Monitor Mqtt
After=network.target

[Service]
User=pi
Type=idle
ExecStart=/usr/bin/python3 /path/to/Mqtt-Sensors-Raspberry/mqtt_monitor.py
WorkingDirectory=/path/to/Mqtt-Sensors-Raspberry

[Install]
WantedBy=multi-user.target